{% extends "layout.html" %}

{% block title %}Videos — lwccia.{% endblock %}

{% block content %}

<section class="videos-header">
    <h2>VIDEOS</h2>
</section>

<section class="videos-grid">

    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/Lp5h4yRKoM8"
                title="Follow Your Path | Silent Hill Inspired Ambient Music"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <span class="video-titre">Follow Your Path</span>
    </div>

    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/yY-0SXNWQYQ"
                title="It Can't End Here | Silent Hill Inspired Ambient Music"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <span class="video-titre">It Can't End Here</span>
    </div>

    <div class="video-item">
        <iframe src="https://www.youtube.com/embed/mZecQq5Ha70"
                title="It Brings Back Darker Memories... | Silent Hill Inspired Ambient Music"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
        <span class="video-titre">It Brings Back Darker Memories...</span>
    </div>

</section>

{% endblock %}